@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .radio-custom:checked + div {
        border-color: #d67a5c;
        background-color: rgba(214, 122, 92, 0.05);
    }
    
    .radio-custom:checked + div .radio-circle {
        border-color: #d67a5c;
        border-width: 6px;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #d67a5c;
    border-radius: 20px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
